In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import glob

import funciones as fx

sns.set_theme(palette='pastel')
plt.rcParams['figure.figsize'] = (12, 6)
pd.set_option('display.max_columns', None)

In [4]:
archivo_autores = glob.glob("articulos/*.txt")
resultados = []
for autor in archivo_autores:
    with open(autor, "r") as file:
        print(f"\nAnalizando a {autor}")
        texto_articulos = file.read()
        resumen_articulo = fx.obtener_resumen_de_articulos(texto_articulos)
        resumen_autores = fx.resumir_cantidad_de_autores(
            resumen_articulo
        )
        resultados.append((autor, *resumen_autores))

Analizando a articulos\alfredhero.txt
> Autores distintos con los que ha trabajado: 18
> Autores repetidos: 4
> Autores con los que ha trabajado una vez: 14

Analizando a articulos\ambuj.txt
> Autores distintos con los que ha trabajado: 27
> Autores repetidos: 3
> Autores con los que ha trabajado una vez: 24

Analizando a articulos\becker.txt
> Autores distintos con los que ha trabajado: 18
> Autores repetidos: 5
> Autores con los que ha trabajado una vez: 13

Analizando a articulos\cristinasavin.txt
> Autores distintos con los que ha trabajado: 27
> Autores repetidos: 4
> Autores con los que ha trabajado una vez: 23

Analizando a articulos\doshi.txt
> Autores distintos con los que ha trabajado: 35
> Autores repetidos: 5
> Autores con los que ha trabajado una vez: 30

Analizando a articulos\edward.txt
> Autores distintos con los que ha trabajado: 19
> Autores repetidos: 7
> Autores con los que ha trabajado una vez: 12

Analizando a articulos\gracelindsay.txt
> Autores distintos con los que ha trabajado: 19
> Autores repetidos: 1
> Autores con los que ha trabajado una vez: 18

Analizando a articulos\kerby.txt
> Autores distintos con los que ha trabajado: 35
> Autores repetidos: 3
> Autores con los que ha trabajado una vez: 32

Analizando a articulos\protopapas.txt
> Autores distintos con los que ha trabajado: 24
> Autores repetidos: 8
> Autores con los que ha trabajado una vez: 16

Analizando a articulos\rajeshranganath.txt
> Autores distintos con los que ha trabajado: 29
> Autores repetidos: 3
> Autores con los que ha trabajado una vez: 26

Analizando a articulos\roderick.txt
> Autores distintos con los que ha trabajado: 13
> Autores repetidos: 3
> Autores con los que ha trabajado una vez: 10

In [8]:
pd.DataFrame(
    resultados, columns=["Autor", "Autores Totales", "Autores Repetidos", "Autores Unicos"]
)

,Autor,Autores Totales,Autores Repetidos,Autores Unicos
0,articulos\alfredhero.txt,18,4,14
1,articulos\ambuj.txt,27,3,24
2,articulos\becker.txt,18,5,13
3,articulos\cristinasavin.txt,27,4,23
4,articulos\doshi.txt,35,5,30
5,articulos\edward.txt,19,7,12
6,articulos\gracelindsay.txt,19,1,18
7,articulos\kerby.txt,35,3,32
8,articulos\protopapas.txt,24,8,16
9,articulos\rajeshranganath.txt,29,3,26
10,articulos\roderick.txt,13,3,10