In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import glob

import funciones as fx

sns.set_theme(palette='pastel')
plt.rcParams['figure.figsize'] = (12, 6)
pd.set_option('display.max_columns', None)

In [2]:
archivo_autores = glob.glob("articulos/*.txt")
resultados = []
for autor in archivo_autores:
    with open(autor, "r") as file:
        texto_articulos = file.read()
        resumen_articulo = fx.obtener_resumen_de_articulos(texto_articulos)
        resumen_autores = fx.resumir_cantidad_de_autores(resumen_articulo)
        resultados.append((autor, *resumen_autores))

In [5]:
resumen_final_autores = (
    pd.DataFrame(
        resultados,
        columns=[
            "Autor",
            "Numero de Articulos",
            "Autores Totales",
            "Autores Repetidos",
            "Autores Unicos",
        ],
    )
    .set_index("Autor")
    .sort_values("Numero de Articulos")
)

In [6]:
resumen_final_autores

,Numero de Articulos,Autores Totales,Autores Repetidos,Autores Unicos
Autor,,,,
articulos\becker.txt,7,18,5,13
articulos\alfredhero.txt,9,18,4,14
articulos\edward.txt,9,19,7,12
articulos\gracelindsay.txt,9,19,1,18
articulos\ambuj.txt,10,27,3,24
articulos\cristinasavin.txt,10,27,4,23
articulos\doshi.txt,10,35,5,30
articulos\kerby.txt,10,35,3,32
articulos\protopapas.txt,10,24,8,16
articulos\rajeshranganath.txt,10,29,3,26
articulos\roderick.txt,10,13,3,10